.parent {
  position: relative;
  aspect-ratio: 4 / 3;
  width: 100%;
}

.image {
  background-color: #000;
  transform: scale(1);
  transition: transform 0.3s;
}

.h3 {
  margin: 1rem;
}
