.container {
  display: flex;
  width: calc(100% / 3);
  text-align: center;
}

/* Mobile and Tablet */
@media (width <= 768px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
