.container {
  width: 30%;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: #f5f5f5;
  margin: 10px auto;
  overflow: hidden;
}

.parent {
  position: relative;
  aspect-ratio: 4 / 3;
}

.image {
  background-color: #000;
  /* transform: scale(1); */
  /* transition: transform 0.3s; */
}

/* .image:hover {
  transform: scale(1.1);
} */

.h3 {
  margin: 1rem;
}

/* Mobile and Tablet */
@media (width <= 768px) {
  .container {
    width: 90%;
  }
}
