.parent {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 8;
}

.image {
  position: relative !important;
  width: 100%;
  background-color: #000;
}

@media (width <= 768px) {
  .parent {
    aspect-ratio: 1 / 1;
  }
}
