.link {
  font-size: 18px;
  color: #fff;
  padding: 10px 30px;
  margin: 3rem;
  border-radius: 100px;
  border: none;
  background-color: #f80;
  text-decoration: none;
  cursor: pointer;
}
