.container {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
}

.grid {
  display: grid;
}

.panel {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.gray {
  background-color: #eee;
}
.light {
  background-color: #fb0;
}
.normal {
  background-color: #f80;
}
.dark {
  background-color: #f50;
}
.black {
  background-color: #f20;
}

@media (width <= 768px) {
}
