.section {
  text-align: center;
}

.container {
  margin: 0 auto;
}

.description {
  font-size: 16px;
  margin: 1rem 0;
}

@media (width <= 768px) {
  .head {
    font-size: 32px;
    margin-bottom: 2rem;
  }
}
