.h1 {
  text-align: center;
}

.aboutContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.text {
  width: 65%;
}

.icons {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.icon {
  margin-right: 20px;
  transform: scale(1);
}

.icon:hover {
  size: 120%;
  transform: scale(1.1);
}

@media (width <= 768px) {
  .aboutContainer {
    flex-direction: column;
  }

  .parent {
    position: relative;
    width: 50%;
    margin-bottom: 3rem;
  }

  .text {
    width: 100%;
  }
}
