.parent {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 8;
}

.image {
  /* border-radius: 50%; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  position: relative !important;
  width: 100%;
  background-color: #000;
}
