.container {
  position: fixed;
  z-index: -1;
}

.bgTop {
  position: inherit;
  display: flex;
  top: 100px;
  height: 25vh;
  overflow: hidden;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
}

.listLoop {
  animation: loop 80s infinite linear 0.5s both;
}

.item {
  position: relative;
  width: calc(100vw / 4);
}

.img {
  width: 100%;
}

@keyframes loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
