.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: #f5f5f5;
  box-shadow: 0 1px 5px gray;
  border-top: 4px solid #f80;
}

.container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo {
  position: relative;
  width: 250px;
  height: 50px;
  margin-left: 20px;
}

.nav {
  position: relative;
}

.ul {
  list-style: none;
  display: flex;
}

.link {
  position: relative;
  display: inline-block;
  margin: 1rem 1.2rem;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #f80;
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

.humburger {
  display: none;
}

@media (width <= 1000px) {
  .header {
    height: 42px;
  }

  .logo {
    width: 175px;
    height: 35px;
  }

  .nonav {
    display: none;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 58px);
    background-color: rgba(0, 0, 0, 0.9);
  }

  .ul {
    display: block;
    text-align: center;
    margin: 3rem;
  }

  .link {
    color: #fff;
    margin: 2rem;
  }

  .humburger {
    display: block;
    margin: 0 1.2rem;
  }
}
