.section {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.button {
  text-align: right;
}
