.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.home {
  font-size: 70px;
  color: #fff;
}

.items {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}

.link {
  padding: 1rem 1.2rem;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
