.h3 {
  font-size: 24px;
  margin-top: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.parent5 {
  position: relative;
  /* margin-top: 1rem; */
  width: 50%;
}

.parent6 {
  position: relative;
  width: 50%;
}

.image {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  width: 100% !important;
  height: unset !important;
}

.text {
  position: relative;
  width: 45%;
}

/* Mobile and Tablet */
@media (width <= 768px) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  .parent5 {
    width: 100%;
    aspect-ratio: 3 / 2;
  }

  .parent6 {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  .text {
    width: 100%;
  }
}
