.container {
  position: relative;
  width: 100%;
  /* justify-content: center; */
}

.vercel {
  position: absolute;
  display: table;
  top: 100px;
  left: 50px;
  z-index: 1;
}

.home {
  font-size: 200px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}
