.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.vercel {
  display: table;
  margin: 20px;
}

.home {
  font-size: 200px;
  color: rgb(255, 80, 0);
  display: table-cell;
  vertical-align: middle;
}
