.footer {
  position: relative;
  /* top: 70px; */
  width: 100%;
  background-color: #f80;
  color: #fff;
  padding: 60px 0;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.vercel {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.logo {
  position: relative;
  margin-bottom: 30px;
  width: 200px;
  height: 40px;
}

.subtitle {
  font-size: 20px;
  color: #fff;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #fff;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icon {
  margin-right: 20px;
  transform: scale(1);
}

.icon:hover {
  size: 120%;
  transform: scale(1.1);
}

.links {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.ul {
  list-style: none;
}

.link {
  position: relative;
  display: inline-block;
  margin: 3px 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  /* padding-bottom: 4px; */
  background-color: #fff;
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

.copyright {
  /* font-size: smaller; */
  width: 100%;
  margin-top: 50px;
}

@media (width <= 768px) {
  .container {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 0;
  }

  .subtitle {
    margin-top: 2rem;
  }

  .vercel {
    width: 100%;
  }

  .links {
    width: 100%;
  }
}
