.h2 {
  width: 45%;
}

.ul {
  list-style: none;
}

.li {
  margin: 2rem 0;
}

.container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.title {
  display: flex;
  flex-wrap: wrap;
}

.parent {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 15%;
}

.parentSmall {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 0%;
  margin: 0;
}

.text {
  width: 82%;
}

.top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.h3 {
  font-size: 24px;
  border-bottom: double 5px #f80;
}

.years {
  margin: 0;
}

.relatedSkills {
  display: flex;
  flex-wrap: wrap;
}

.relatedSkill {
  margin: 0;
  margin-right: 10px;
}

.table {
  margin: 3rem 0;
  width: 100%;
  aspect-ratio: 8 / 3;
}

.stackIcon {
  position: absolute;
  width: 10%;
  aspect-ratio: 1 / 1;
}

@media (width <= 768px) {
  .parent {
    width: 0;
  }

  .parentSmall {
    width: 24px;
    margin-right: 10px;
  }

  .text {
    width: 100%;
  }
}