.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover .tooltiptext {
  display: block;
}

.tooltiptext {
  display: none;
  position: absolute;
  overflow: visible;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  z-index: 1;
}
